

{% extends 'base.html' %}

{% load static %}
{% block content %}

<main>
    {% for x in user_info  %}


    <section id="profile">
        <div class="section__pic-container">
            <img src="{% static './assets/profile-pic.png' %}" alt="Ayush Vanvary picture" />
        </div>
        <div class="section__text">
            <p class="section__text__p1">Hello, I'm</p>
            <h1 class="title"> {{x.user_name}}</h1>
            <p class="section__text__p2">{{x.profile}}r</p>
            <div class="btn-container">
                <button class="btn btn-color-2" onclick="window.open('{% static './assets/resume-Ayush.pdf' %}')">
                    Download CV
                </button>
                <button class="btn btn-color-1" onclick="location.href='./#contact'">
                    Contact Info
                </button>
            </div>
            <div id="socials-container">
                <img src="{% static './assets/linkedin.png' %}" alt="My LinkedIn profile" class="icon"
                    onclick="location.href='{{x.linkedin_url}}'" />
                <img src="{% static './assets/github.png' %}" alt="My Github profile" class="icon"
                    onclick="location.href='{{x.github_url}}'" />
            </div>
        </div>
    </section>

    <section id="about">
        <p class="section__text__p1">Get To Know More</p>
        <h1 class="title">About Me</h1>
        <div class="section-container">
            <div class="section__pic-container">
                <img src="{% static './assets/about-pic.png' %}" alt="Profile picture" class="about-pic" />
            </div>
            <div class="about-details-container">
                <div class="about-containers">
                    <div class="details-container">
                        <img src="{% static './assets/experience.png' %}" alt="Experience icon" class="icon" />
                        <h3>Experience</h3>
                        <p>2+ years <br />Java Tutor</p>
                    </div>
                    <div class="details-container">
                        <img src="{% static './assets/education.png' %}" alt="Education icon" class="icon" />
                        <h3>Education</h3>
                        <p>BCA Bachelors Degree<br />MCA
                            Masters Degree</p>
                    </div>
                </div>
                <div class="text-container">

                     {{x.description}}

                </div>
            </div>
        </div>
        <img src="{% static './assets/arrow.png' %}" alt="Arrow icon" class="icon arrow" onclick="location.href='./#experience'" />
    </section>
    {% endfor %}
    <section id="experience">
        <p class="section__text__p1">Explore My</p>
        <h1 class="title">Tech Stack</h1>
        <div class="experience-details-container">
            <div class="about-containers">
                <div class="details-container">
                    <h2 class="experience-sub-title">Languages/Framework</h2>
                    <div class="article-container">
                        {% for info in tech_info %}
                        <article>
                            <img src="{% static './assets/checkmark.png' %}" alt="Experience icon" class="icon" />
                            <div>

                               <h3>{{info.technology}}</h3>
                               <p>{{info.experience}}</p>

                            </div>
                        </article>
                        {% endfor %}

                    </div>
                </div>
                <div class="details-container">
                    <h2 class="experience-sub-title">Tools & Software</h2>
                    <div class="article-container">
                        {% for tool in tool_info %}
                        <article>
                            <img src="{% static './assets/checkmark.png' %}" alt="Experience icon" class="icon" />
                            <div>
                                <h3>{{tool.tool_soft}}</h3>
                                <p>{{tool.tool_experience}}</p>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static './assets/arrow.png' %}" alt="Arrow icon" class="icon arrow" onclick="location.href='./#projects'" />
    </section>
    <section id="projects">
        <p class="section__text__p1">Browse My Recent</p>
        <h1 class="title">Projects</h1>
        <div class="experience-details-container">
            <div class="about-containers">
                {% for proj in proj_det %}
                <div class="details-container color-container">
                    <div class="article-container">
                        <img src="{{ proj.photo.url }}" alt="Project 1" class="project-img" />
                    </div>
                    <h2 class="experience-sub-title project-title">{{proj.proj_name}}</h2>
                    <div class="btn-container">
                        <button class="btn btn-color-2 project-btn" onclick="location.href='https://{{proj.github_link}}'">
                            Github
                        </button>
                        <button class="btn btn-color-2 project-btn" onclick="location.href='https://{{proj.proj_link}}'">
                            Live Demo
                        </button>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <img src="{% static './assets/arrow.png' %}" alt="Arrow icon" class="icon arrow" onclick="location.href='./#projects'" />
    </section>
    <section id="contact">
        <p class="section__text__p1">Get in Touch</p>
        <h1 class="title">Contact Me</h1>
        <div class="contact-info-upper-container">
            <div class="contact-info-container">
                <img src="{% static './assets/email.png' %}" alt="Email icon" class="icon contact-icon email-icon" />
                <p><a href="mailto:examplemail@gmail.com">ayush.vanvary10@gmail.com</a></p>
            </div>
            <div class="contact-info-container">
                <img src="{% static './assets/linkedin.png' %}" alt="LinkedIn icon" class="icon contact-icon" />
                <p><a href="https://www.linkedin.com/in/ayushvanvary/">LinkedIn</a></p>
            </div>
        </div>
    </section>
</main>

{% endblock %}
